[submodule "src/lib/stdlib"]
	path = src/lib/stdlib
	url = git@github.com:warcraft-iii/lib-stdlib.git
[submodule "src/lib/console"]
	path = src/lib/console
	url = git@github.com:warcraft-iii/lib-console.git
