[submodule "src/lib/observer"]
	path = src/lib/observer
	url = https://github.com/warcraft-iii/lib-observer.git
[submodule "src/lib/console"]
	path = src/lib/console
	url = https://github.com/warcraft-iii/lib-console.git
[submodule "src/lib/commandline"]
	path = src/lib/commandline
	url = https://github.com/warcraft-iii/lib-commandline.git
[submodule "src/lib/stdlib"]
	path = src/lib/stdlib
	url = https://github.com/warcraft-iii/lib-stdlib.git
